doctype html
html(lang="en-US", ng-app="weatherUnderground")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Angular Weather
  body
    .container(ng-controller="Main as main")
      h1 The weather is {{main.curr}} with a temperature of {{main.temp}}.
      form(name="zipCodeSearch")
        input.form-control(placeholder="zip code" ng-model="number")
        button.btn.btn-primary() Zip Code Search
    script(src="lib/build.js")
    script(src="js/main.js")
